@import "variables-mixins";

/* nav bar */
#nav-bar {
  height: 120px;
  width: 100vw;
  color: $color;;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
  z-index: 1000;
}
/* container - for all nav items */
.container {
  @include flex;
  justify-content: space-between;
}
/* container for nav items */
.inner-container {
  @include flex($flex-direction: column);
  .nav-item {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 5px;
  color: $color;
  text-decoration: none;
  }
  #double-arrow {
    animation: MoveUpDown 2s ease infinite;
    align-self: center;
    position: absolute;
    bottom: 20px;
    font-size: 16px;
    color: red;
  }
}
/* tweeter logo */
#logo {
  font-family: 'Bungee', cursive;
  font-size: 32px;
  align-self: flex-end;
}

.bold-font {
  font-weight: 600;
}

/* animation of double arrow */
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 20px;
  }
  50% {
    bottom: 30px;
  }
}