#header-tweet {
  height: 400px;
  background-image: url("../images/profile-background.png");
  background-color: rgb(220, 165, 26);
  color: #FFFFFF;
  /* width: 100%;
  position: fixed;
  z-index: 100; */
}

.header-image {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-name {
  
  text-align: center;
  color: white;
}

.header-name h2 {
  margin: 0;
  font-weight: lighter;
}
