/* header container */
#header-tweet {
  height: 400px;
  width: 100%;
  background-image: url("../images/profile-background.png");
  background-color: rgb(220, 165, 26);
  color: #FFFFFF;
  position: fixed;
  z-index: 100;
  overflow: hidden;
}
/* header image */
.header-image {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* header name - avatar */
.header-name {
  margin-top: 10px;
  text-align: center;
  color: white;
}
.header-name h2 {
  margin: 0;
  font-weight: lighter;
}
