#header {
  height: 400px;
  background-image: url("../images/profile-background.png");
  background-color: rgb(220, 165, 26);
}

.headerImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerName {
  text-align: center;
  color: white;
}

h2 {
  margin: 0;
  font-weight: lighter;
}

.headerSpan {
  font-weight: bold;
}