#navBar {
  height: 120px;
  width: 100vw;
  background-image: url("../images/profile-background.png");
  background-color: rgb(220, 165, 26);
  color: #FFFFFF;
  padding: 0 1.5em;
  position: absolute;
  top: 0;
  z-index: 1000;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container1 {
  display: flex;
  flex-direction: column;
}

.navItem {
  margin-top: 50px;
  margin-bottom: 0;
}

.navSpan {
  font-family: 'Bungee', cursive;
  font-size: 48px;
  align-self: flex-end;
}

.navSpan1 {
  font-size: 24px;
  font-weight: bold;
}

.fontAwesome {
  align-self: center;
  color: red;
}