#nav-bar {
  height: 120px;
  width: 100vw;
  color: #FFFFFF;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inner-container {
  display: flex;
  flex-direction: column;
}

#logo {
  font-family: 'Bungee', cursive;
  font-size: 32px;
  align-self: flex-end;
}

.nav-item {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
}

.bold-font {
  font-weight: 600;
}

#double-arrow {
  animation: MoveUpDown 2s ease infinite;
  align-self: center;
  position: absolute;
  bottom: 20px;
  font-size: 16px;
  color: red;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 20px;
  }
  50% {
    bottom: 30px;
  }
}