/* main container to create new tweets*/
#main-container {
  width: 90%;
  margin: auto;
  padding-top: 400px;
}
/* tweet textarea */
#tweet-text {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  padding: 0;
  border: transparent;
  font-weight: 600;
  font-size: 20px;
  border-bottom: 3px solid #545149;
  background-color: transparent;
  resize: none;
  outline: none;
}
/* container for button and counter */
.btn-counter {
  margin-top: 10px;
  font-family: 'Bungee', cursive;
  font-size: 18px;
}
/* button to create new tweet */
#tweet-btn {
  background-color: #4056A1;
  color: #FFFFFF;
  border-radius: 0.5px;
}
/* error container */
.error-container {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  gap: 5px;
  color: red;
  border: solid 5px red;
}
.error-message {
  font-size: 20px;
}

