#tweet-container {
  margin-top: 30px;
  margin-bottom: 20px;
}

.tweet {
  border: 3px solid #545149;
  border-radius: 0.5px;
  margin-bottom: 20px;
}

.tweet:hover {
  box-shadow: 5px 5px 0px #c0c7de;
}

.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  margin: 10px;
}

.tweet header > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tweet header > h2 {
  margin: 10px;
  font-size: 20px;
  align-self: flex-end;
  color: #c0c7de;
}

.header-container > h2 {
  padding-top: 10px;
  font-size: 20px;
  margin: 10px 0 0 15px;
  font-weight: 300;
}

.header-container > img {
  margin: 5px 0 0 5px;
}

.tweet .content {
  margin: 30px 0 0 20px;
  font-weight: 300; 
}

.tweet > hr {
  width: 97%;
  border-bottom: 3px solid #545149
}

.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 3px;
}

.tweet footer > p {
  margin: 0 0 10px 20px;
  font-weight: 600;
  font-size: 15px;
}

.font-awesome {
  margin: 0 20px 10px 0; 
}

.font-awesome > i {
  margin: 5px;
  color: #4056A1;
}

.font-awesome > i:hover{
  color:  #C2983B;
}
