#tweet-container {
  margin-top: 50px;
  padding:10px;
  border: 3px solid #545149;
  margin-bottom: 20px;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  margin: 10px;
}

article.tweet header > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

article.tweet header > h2 {
  margin: 10px;
  align-self: flex-end;
  color: #6c80c3;
}

.header-container > h2 {
  margin: 10px 0 0 15px;
}

article.tweet .content {
  margin: 50px 0 0 20px; 
}

article.tweet > hr {
  border-bottom: 3px solid #545149
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
}

article.tweet footer > p {
  margin: 8px 0 10px 20px;
}

article.tweet footer > span {
  margin: 5px 20px 10px 0; 
}

span > i {
  margin: 5px;
  color: #4056A1;
}